<div class="colors">
  <h2 class="colors-header">Tracks by Color</h2>
  <ul>
    <li>
    <div class="green circle">Green</div>
    The Green Track is for newbie talks. We all hear that there are not enough trained professionals. Well, let’s start growing them. This Track is for talks targeted at those just starting out in the field, wanting to get into the field or students of technology.
    </li>

    <li>
    <div class="red circle">Red</div>
    The Red Track is for talks focused on attacks. Tell us about what you have been researching, what cool attack you use at work, or that crazy thing you dreamed up in Hallway-con that actually worked.
    </li>

    <li>
    <div class="blue circle">Blue</div>
    The Blue Track is all about Defense. We know attacks are sexy, but the reality is most of us have to defend against attacks all day long. This track is to talk about those defense techniques, building an Incidence Response team with nothing but 2 sticks and chewing gum and all other things defense.
    </li>

    <li>
    <div class="purple circle">Purple</div>
    Purple teamers we have not forgotten you, we want to hear your talks. Please submit to the CFP. If your talk is more attack oriented, we will call you Red if it is more Defense, Blue, if it is straight down the middle we will find a way.
    </li>
  </ul>
</div>
<div class="clear"></div>